.puzzle-card-sec{
    margin-top: 150px;
}



.pzl-card{
    width: 400px;
    height: 300px;
    display: inline-block;
    position: relative;
}
.pzl-card img{
    height: 100%;
    object-fit: cover;
}

.illips{
    width: 100%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 999;    
    transform: translate(0%, -50%);
    top: 50%;    
    background-size: cover;
}

/* ============ */
.right-illips-1-right{   
    right: -6px;
    clip-path: ellipse(10% 27% at 92% 51%);
    background-image: url(img/2.jpg);
    background-position: -651% 100%;
}

.pzl-card:nth-child(2){
    z-index: -1;
    position: relative;
    margin-left: -50px;
}

/* ====== 3 box ====== */
.right-illips-3-right{   
    right: -75px;
    clip-path: ellipse(10% 27% at 89% 57%);
    background-image: url(img/3.jpg);
    background-position: 110% 359px;
}


.pzl-card:nth-child(3){
    margin-left: -22px;
}

.pzl-card:nth-child(3) img{
    object-fit: cover;
    object-position: -34% 56px;
}

/* ======== 5 box */

.right-illips-5-top{
    top: -69px;
    clip-path: ellipse(21% 12% at 50% 63%);
    background-image: url(img/5.jpg);
    background-position: 100% 448px;
}
.pzl-card:nth-child(5){
    margin-left: -5px;
    transform: translateY(-34px);
    z-index: 1;
}

.pzl-card:nth-child(5) img{
    z-index: -111;
    position: relative;
    object-position: top;
}



/* item 4 right */
.right-illips-4-right{
    right: -75px;
    clip-path: ellipse(10% 27% at 89% 51%);
    background-image: url(img/4.jpg);
    background-position: 109% 100%;
}

.pzl-card:nth-child(4){
    transform: translateY(-34px);
    z-index: 111;
}

/* ======== 3 bottom */

.right-illips-3-bottom{
    bottom: 0;
    clip-path: ellipse(21% 12% at 51% 56%);
    background-image: url(img/3.jpg);
    background-position: -35% -90px;
    transform: translateY(0);
}
.pzl-card:nth-child(3){
    transform: translateY(0px);
    z-index: 1;
}

/* image 1  top */

.right-illips-1-top{
    top: -69px;
    clip-path: ellipse(21% 12% at 50% 63%);
    background-image: url(img/1.jpg);
    background-position: 100% 436px;
}

.pzl-card:nth-child(1) img{
    object-position: 100% -32px;
}

/* ============ responsive ========== */

@media (max-width:1400px){
    .pzl-card {
        width: 390px;
        height: 290px;
    }
}